*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/KenBurnView/build/
/KenBurnView/build/intermediates/javac/debug/classes/
/MatchView/build/
/MatchView/build/intermediates/javac/debug/classes/
/nobobutton/build/
/nobobutton/build/intermediates/javac/debug/classes/